@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  font-weight: 700;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url(../fonts/gilroyextrabold.woff2) format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy Light'), local('Gilroy-Light'), url(../fonts/gilroylight.woff2) format('woff2')
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

/*Убрать точки в списке*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  display: none
}

.container {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

/*__________________________________________________________________*/
/*Логотип*/

.main-header {
  padding-top: 17px;
}

.logo-text {
  margin-left: 35px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.header-wrapper {
  margin-top: -25px;
  padding-top: 25px;
  background-color: #f7e296;
  padding-left: 39px;

}

.user-interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
  padding-left: 39px;
}

.user-button-icon {
  margin-right: 15px;
}

/*Окно поиска*/
.search-input {
  border: none;
  opacity: 0.3;
  background-color: transparent;
}

.search-input:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-input:focus {
  opacity: 1;
}

.search-submit {
  visibility: hidden;
  border: 2px solid #000000;
  padding-top: 20px; /*верхний внутренний отступ*/
  padding-left: 20px; /*левый внутренний отступ*/
  padding-right: 20px; /*правый внутренний отступ*/
  padding-bottom: 20px; /*нижний внутренний отступ*/
  background-color: transparent;
}

.search-submit:hover {
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.search-submit:focus {
  color: rgba(255, 255, 255, 0.3);
}

/*________________войти___________________*/
.user-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;

}

.user-buttons-items {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.user-button {
  margin-right: 40px;

}

/*________________доставка гарантия контакты___________________________*/
.nav {
  display: flex;
  justify-content: space-between;
padding-left: 39px;
}

/*Кнопки доставка гарантия контакты + Каталог*/
.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link-icon {
  margin-left: 15px;
}

.sub-nav-tabel {
  display: flex;
  justify-content: space-between;
}
.nav-items {width: 550px;}
.sub-nav {
  display: flex;
  justify-content: space-between;
}
.sub-nav-margin {
  margin-left: 60px;
}
/*.sub-nav-items {*/
  /*margin-left: 20px;*/
/*}*/

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.nav-item-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 40px;
}

/*__________________фитнес браслеты умные часы_________________________*/

.sub-nav-link:hover {
  opacity: .6;
}

.sub-nav-link:focus {
  opacity: .3;
}

.nav-link:hover {
  opacity: .6;
}

.nav-link:focus {
  opacity: .3;
}

/*!*!*Закончился хедер, начинается боди*!_________________________________*!*/
.slides {
  background-image: linear-gradient(to bottom, #f7e296 100px, transparent 100px);
}

.slides-wrapepr {
  display: flex;
}

.slide {
  display: none;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

/*шрифт не соответствует*/
.slide:before {
  content: "01";
  font-size: 180px;
  color: #ffff;
  position: absolute;
  height: 179px;
  top: -50px;
  right: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
}

.slide.active {
  display: flex;
}

.slide-description-paragraphs {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

/*Вопрос:???????????????????????????????????????????????????????????????????????????????*/
/*!*Подробнее*!*/
.button-yellow {
  display: block;
  width: 220px;
  text-align: center;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;

}

.button-yellow:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.5s linear;
}

.button-yellow:hover:before {
  top: 0;
  height: 48px;
}

.button-yellow:active {
  opacity: .6;
}

.slide-description-td {
  padding-right: 80px;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;

}

.slide-description-th {
  line-height: 20px;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
}

/*__________________slider________________________*/

/*-------------Секция продуктов с квадратиками-------------*/

.products-items {
  display: flex;
  justify-content: space-between;
}

.products-item {
  width: 160px;
}

.products-img-wrapper {
  background-color: #f7e296;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}

.products-img-wrapper:hover {
  background-color: #f0c52e;

}

.products-img-wrapper:active .products-img {
  opacity: .3;
}

.products-img-wrapper-end {
  align-items: flex-end;
}

.products-title {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 24px;
}

/*-------------Секция продуктов с квадратиками-------------*/
/*-------------END-------------*/
/*Глава о разорении кредиторов*/
.slide-service {
  display: flex;
  justify-content: space-between;
}

/*Расстояние между элементами ? Расстояние между элементами ? Расстояние между элементами ?*/
/*-------------Логотипы-------------*/
.logotypes-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 108px 42px 108px 60px;
}

.logotypes-link:hover .logotype {
  display: none;
}

.logotypes-link:hover .logotype-hover {
  display: block;
}

.logotype-hover {
  display: none;
}

/*-------------О нас Контакты-------------*/
.info-company-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 660px;
}

.about-us {
  width: 40%;

}
.rectangle-info {
  width: 80px;
  height: 7px;
  background: #000000;
}
.about-us-title,
.contact-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.delivery-company-items {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  margin-top: 90px;
  margin-left: 35px;
}

.delivery-company-item {
  position: relative;
}

.delivery-company-item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 7px;
  border-radius: 50%;
  height: 7px;
  background: #000000;
}

/*!*Подробнее*!*/
.contact-link,
.about-us-link {
  display: block;
  width: 220px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
  position: absolute;
  top: 550px;
}

.contact-link,
.about-us-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.5s linear;
}

.contact-link,
.about-us-link :hover:before {
  top: 0;
  height: 48px;
}

.contact-link,
.about-us-link:active {
  opacity: .6;
}
.contact-link-map {
  height: 220px;
}
.button-yellow-top {
  margin-top:70px;
}
/*_____Кнопки напишите нам подробнее о нас_ END_______________*/

/*____________________________________________________________________________*/
.footer {
  background-color: #464646;
}

/*Логотип*/

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo-text-footer {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 26.46px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

/*Одинаковые логотипы и в хедере и в футере, только цвет разный.*/
.logo-footer {
  color: #f0c52e;
}

.address {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
}

.user-interface {
  display: flex;
  justify-content: space-between;
}

.websites-wrapper {
  display: flex;
  justify-content: space-between;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 440px;
}

/*________________войти___________________*/
.user-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;

}

.user-buttons-items {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.user-button {
  margin-right: 40px;

}

/*________________доставка гарантия контакты___________________________*/
.nav {
  display: flex;
  justify-content: space-between;
}

/*Кнопки доставка гарантия контакты + Каталог*/
.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.sub-nav-tabel {
  display: flex;
  justify-content: space-between;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.nav-item-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 40px;
}

/*-------------Всплывающее окно-------------*/

.modal-write-us {
  position: relative;
  padding-top: 50px;
  background-color: white;
  display: none;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.7);
  width: 960px;
  height: 550px;
}

.modal-write-us.active {
  display: block;
  position: fixed;
  z-index: 100;
  top: 330px;
  left: 240px;
}

.write-us-close {
  top: 25px;
  right: 20px;
  position: absolute;
}

.write-us-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 100px;
  padding-right: 100px;
}

.write-us-letter-text {
  margin-top: 40px;
}

.modal-close-wrapper-img {
  display: flex;
  justify-content: flex-end;
}

.write-nameid-e-mail {
  display: flex;
  justify-content: space-between;

}

.text_nameid,
.text_e-mail,
.free_form {
  background-color: #f2f2f2;
  width: 360px;
  padding-left: 20px;
  border: none;
  height: 50px;
  /*opacity: 0.3;*/
}

.free_form {
  width: 760px;
  padding-top: 20px;
  height: 155px;
}

.nameid {
  font-size: 5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
}

/*Окно поиска*/
.search-input {
  border: none;
  opacity: 0.3;
  background-color: transparent;
}

.modal-button {
  display: block;
  width: 220px;
  text-align: center;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
}

.modal-button-text {
  z-index: 102;
}

.modal-button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.5s linear;
}

.modal-button:hover:before {
  top: 0;
  height: 48px;
}

.modal-button:active {
  opacity: .6;
}

