@font-face {
  font-family: 'Gilroy';
  font-style: bold;
  font-weight: 700;
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url(../fonts/gilroyextrabold.woff2) format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy Light'), local('Gilroy-Light'), url(../fonts/gilroylight.woff2) format('woff2')
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

/*Убрать точки в списке*/
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  display: none
}

.container {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top:40px;
  position:relative;
}

.logo-text {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  z-index: 20;
  top: 16px;
  left: 199px;
}

.header-wrapper {
  position: relative;
  padding-top: 25px;
  background-color: #f7e296;
  padding-left: 39px;

}

.user-interface {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-left: 23px;
}

.user-button-icon {
  margin-right: 15px;
}

/*Окно поиска*/
.search-input {
  border: none;
  opacity: 0.3;
  background-color: transparent;
  margin-left: 15px;
}

.search-input:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-input:focus {
  opacity: 1;
}

.search-submit {
  visibility: hidden;
  border: 2px solid #000000;
  padding-top: 20px; /*верхний внутренний отступ*/
  padding-left: 20px; /*левый внутренний отступ*/
  padding-right: 20px; /*правый внутренний отступ*/
  padding-bottom: 20px; /*нижний внутренний отступ*/
  background-color: transparent;
}

.search-submit:hover {
  background-color: #000000;
  text-align: center;
  cursor: pointer;
  color: #fff;
}

.search-submit:focus {
  color: rgba(255, 255, 255, 0.3);
}

/*________________войти___________________*/
.user-buttons {
  display: flex;
  justify-content: space-between;
  width: 51%;

}

.user-buttons-items {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.user-button {
  margin-right: 40px;
}

/*________________доставка гарантия контакты___________________________*/
.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 39px;
}

/*Кнопки доставка гарантия контакты + Каталог*/
.nav-link {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link-icon {
  margin-left: 15px;
}

.sub-nav-tabel {
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 200;
  background-color: #f7e296;
}

.sub-nav-tabel.active {
  display: flex;
}

.sub-nav-items {
  width: 200px;
  margin-right: 50px;
}

.sub-nav {
  display: flex;
  justify-content: space-between;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.nav-item-buttons {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 40px;
}

/*__________________фитнес браслеты умные часы_________________________*/

.sub-nav-link:hover {
  opacity: .6;
}

.sub-nav-link:focus {
  opacity: .3;
}

.nav-link:hover {
  opacity: .6;
}

.nav-link:focus {
  opacity: .3;
}

/*!*!*Закончился хедер, начинается боди*!_________________________________*!*/
.slides {
  padding-top: 60px;
  background-image: linear-gradient(to bottom, #f7e296 160px, transparent 160px);
  position: relative;
  z-index: 20000000;
}
/*________________кружки переключения______________________*/
.slider-controls {
  position: absolute;
  left: 90%;
  bottom: 180px;
  z-index: 100;

  display: flex;
  justify-content: space-between;

  width: 80px;

  text-align: center;
  font-size: 0;
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 2px;
  border:1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}


#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";

  position: absolute;
  top: 2px;
  left: 2.1px;
  z-index: 1;

  width: 6px;
  height: 6px;

  border:1px solid #000;

  border-radius: 50%;
}


/*________________________________________*/
.slides-wrapper {
  display: flex;
}

.slide {
  display: none;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

/*шрифт не соответствует*/
.slide:before {
  content: "01";
  font-size: 180px;
  color: #ffff;
  position: absolute;
  height: 179px;
  line-height: 179px;
  top: -31px;
  right: 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
}
.slide-description-paragraphs {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

/*!*Подробнее*!*/
.button-yellow {
  display: block;
  width: 220px;
  text-align: center;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;

}

.button-yellow:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.5s linear;
}

.button-yellow:hover:before {
  top: 0;
  height: 48px;
}

.button-yellow:active {
  opacity: .6;
}

.slide-description-td {
  padding-right: 80px;
  font-size: 36px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  color: #000000;

}

.slide-description-th {
  line-height: 20px;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
}


#product-1:checked ~ .slider-list .slide:nth-child(1) {
  display: flex;
}

#product-2:checked ~ .slider-list .slide:nth-child(2) {
  display:  flex;
}

#product-3:checked ~ .slider-list .slide:nth-child(3) {
  display: flex;
}
/*__________________slider________________________________________________*/

/*-------------Секция продуктов с квадратиками-------------*/

.products-items {
  display: flex;
  justify-content: space-between;
}

.products-item {
  width: 160px;
}

.products-img-wrapper {
  background-color: #f7e296;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
}

.products-img-wrapper:hover {
  background-color: #f0c52e;

}

.products-img-wrapper:active .products-img {
  opacity: .3;
}

.products-img-wrapper-end {
  align-items: flex-end;
}

.products-title {
  font-size: 18px;
  font-family: "Gilroy", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 24px;
}

/*---------------Доставка Гарантия Кредит---------------------------------------------*/

.services {
  margin-top: 75px;
  background-image: linear-gradient(to top, #e5e5e5 290px, transparent 290px);
}

.services-wrapper {
  padding-top: 75px;
  padding-bottom: 125px;
}

.service-block {
  display: flex;
  justify-content: space-between;
}

.services-buttons-items {
  position: relative;
}

.services-buttons-items:before {
  content: "";
  width: 7px;
  height: 320px;
  background-color: black;
  position: absolute;
  left: 293px;
  top: 0px;

}

.service-buttons {
  display: flex;
  justify-content: space-between;
}

.service-button {
  z-index: 2;
  width: 160px;
}

.service-button.active {
  color: #f7e184;
}

.service-button.active:before {
  width: 300px;
  background-color: #000;
  height: 100%;
  top: 0;
}

.vertical {
  width: 7px;
  height: 319px;
  background-color: black;
  position: absolute;
  left: 420px;
}

.slide-service {
  display: none;
  width: 780px;
  position: relative;
}

.slide-service.active {
  display: flex;
  justify-content: space-between;
}

/*-------------Логотипы-------------*/
.logotypes-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 108px 42px 108px 60px;
}

.logotypes-link:hover .logotype {
  display: none;
}

.logotypes-link:hover .logotype-hover {
  display: block;
}

.logotype-hover {
  display: none;
}

/*-------------О нас Контакты-------------*/
.info-company-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 660px;
}

.about-us {
  width: 40%;

}

.rectangle-info {
  width: 80px;
  height: 7px;
  background: #000000;
}

.about-us-title,
.contact-title {
  font-size: 47px;
  line-height: 48px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.delivery-company-items {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 16px;
  margin-top: 90px;
  margin-left: 35px;
}

.delivery-company-item {
  position: relative;
}

.delivery-company-item:before {
  content: "";
  position: absolute;
  top: 10px;
  left: -20px;
  width: 7px;
  border-radius: 50%;
  height: 7px;
  background: #000000;
}

/*!*Подробнее*!*/
.contact-link,
.about-us-link {
  display: block;
  width: 220px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
  position: absolute;
  top: 550px;
}

.contact-link,
.about-us-link:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.5s linear;
}

.contact-link,
.about-us-link :hover:before {
  top: 0;
  height: 48px;
}

.contact-link,
.about-us-link:active {
  opacity: .6;
}

.contact-link-map {
  height: 220px;
}

.button-yellow-top {
  margin-top: 70px;
}

/*____________________________________________________________________________*/
.footer {
  background-color: #464646;
  padding-top: 50px;
  padding-bottom: 67px;
}

/*_______________1я строка___________________*/
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-left {
  margin-left: 0px;
}

.logo-text-footer {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 27px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

/*Одинаковые логотипы и в хедере и в футере, только цвет разный.*/
.logo-footer {
  color: #f0c52e;
  position: static;
}

.user-buttons-footer {
  color: #ffffff;
  width: auto;
}

.user-buttons-items-footer {
  width: auto;
  color: #ffffff;
}

.user-buttons-footer a {
  color: #fff;
}

/*_______________2я строка___________________*/

.websites-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.address {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
}

.nav-footer-items {
  display: flex;
  justify-content: space-between;
}

.nav-footer-items li {
  margin-right: 30px;
}

.nav-footer-items li:last-child {
  margin-right: 0;
}

.nav-link-f {
  color: #fff;
}

.tel-number {
  color: #fff;
}

/*_______________3я строка___________________*/

.user-interface-footer {
  display: flex;
  justify-content: space-between;
}

.footer-websites {
  display: flex;
  justify-content: space-between;
}

.nav-footer-websites {
  display: flex;
  justify-content: space-between;
}

.nav-footer-website {
  margin-right: 30px;
}

.nav-footer-website:last-child {
  margin-right: 0;
}

/*-------------Всплывающее окно-------------*/

.modal-write-us {
  position: relative;
  padding-top: 50px;
  background-color: white;
  display: none;
  box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.7);
  width: 960px;
  height: 550px;
}

.modal-write-us.active {
  display: block;
  position: fixed;
  z-index: 100;
  top: calc(50% - 500px / 2);
  left: calc(50% - 960px / 2);
}

.write-us-close {
  top: 25px;
  right: 20px;
  position: absolute;
}

.write-us-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding-left: 100px;
  padding-right: 100px;
}

.write-us-letter-text {
  margin-top: 40px;
}

.modal-close-wrapper-img {
  display: flex;
  justify-content: flex-end;
}

.write-nameid-e-mail {
  display: flex;
  justify-content: space-between;

}

.text_nameid,
.text_e-mail,
.free_form {
  background-color: #f2f2f2;
  width: 360px;
  padding-left: 20px;
  border: none;
  height: 50px;
  /*opacity: 0.3;*/
}

.free_form {
  width: 760px;
  padding-top: 20px;
  height: 155px;
}

.nameid {
  font-size: 5px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.333;
  text-align: left;
}

/*Окно поиска*/

.modal-button {
  display: block;
  width: 220px;
  text-align: center;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  padding-top: 14px;
  padding-bottom: 14px;
}

.modal-button-text {
  z-index: 102;
}

.modal-button:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: all 0.5s linear;
}

.modal-button:hover:before {
  top: 0;
  height: 48px;
}

.modal-button:active {
  opacity: .6;
}

/*-------не понимаю прошу объяснить------------*/
/*-------опускаем------------*/
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.active {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

/*-------трясем-----------*/
@keyframes shake {
  0%, 100% {
    transform: translateX(0px);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: bounce;
  animation-duration: 0.6s;
}

.map {
  display: none;
  /*position: re;*/
}

.map.active {
  display: block;
  position: absolute;
  top: calc(50% - 450px / 2);
  left: calc(50% - 600px / 2);
}

.map-close {
  top: 25px;
  right: 25px;
  position: absolute;
}

/*______________________________Лист 2 Каталог_______________________________________*/

.title {
  font-size: 47px;
  line-height: 56px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 35%;

}

.nav-arrow {
  height: 10px;
  width: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.black-line {
  width: 200px;
  height: 2px;
  background-color: black;
  margin-top: 40px;
  margin-bottom: 20px;
}

/*____________________________________________________________________________*/
.filter-item {
  margin: 0;
  padding: 0;

  border: none;

  width: 140px;
  /*margin: 50px auto;*/
}

.range-filter {
  width: 200px;
  margin-top: 50px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  border-radius: 5px;
}
/*общая длина*/
.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}
/*диапазон*/
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 24px;
  height: 24px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 115px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;

}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Gilroy, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #283136;
  border: none;

}

.max-price {
  text-align: right;
}

/*______________________________________________________________________________*/

.sorting-title {
  display: flex;
  justify-content: space-between;

}

.products {
  display: flex;
  justify-content: space-between;
}
